## What is the true normal human body temperature? 

#### Background

The mean normal body temperature was held to be 37$^{\circ}$C or 98.6$^{\circ}$F for more than 120 years since it was first conceptualized and reported by Carl Wunderlich in a famous 1868 book. In 1992, this value was revised to 36.8$^{\circ}$C or 98.2$^{\circ}$F. 

#### Exercise
In this exercise, you will analyze a dataset of human body temperatures and employ the concepts of hypothesis testing, confidence intervals, and statistical significance.

Answer the following questions **in this notebook below and submit to your Github account**. 

1.  Is the distribution of body temperatures normal? 
    - Remember that this is a condition for the CLT, and hence the statistical tests we are using, to apply. 
2.  Is the true population mean really 98.6 degrees F?
    - Bring out the one sample hypothesis test! In this situation, is it approriate to apply a z-test or a t-test? How will the result be different?
3.  At what temperature should we consider someone's temperature to be "abnormal"?
    - Start by computing the margin of error and confidence interval.
4.  Is there a significant difference between males and females in normal temperature?
    - Set up and solve for a two sample hypothesis testing.

You can include written notes in notebook cells using Markdown: 
   - In the control panel at the top, choose Cell > Cell Type > Markdown
   - Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet

#### Resources

+ Information and data sources: http://www.amstat.org/publications/jse/datasets/normtemp.txt, http://www.amstat.org/publications/jse/jse_data_archive.htm
+ Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet

****

In [3]:
import pandas as pd
import numpy as np
%matplotlib inline

In [2]:
df = pd.read_csv('data/human_body_temperature.csv')

In [13]:
#n=130
df1=df
df.head()

   temperature gender  heart_rate   temp
0         99.3      F          68  198.6
1         98.4      F          81  196.8
2         97.8      M          73  195.6
3         99.2      F          66  198.4
4         98.0      F          73  196.0

In [17]:

std=df1['temperature'].std()

In [18]:
std

0.7331831580389454

In [20]:
avrg=df1['temperature'].mean()

In [24]:
n=len(df1)

In [25]:
avrg

98.24923076923078

In [26]:
se=std/(np.sqrt(n))

In [27]:
se

0.06430441683789101

In [28]:
z=(avrg-98.6)/se

In [29]:
z

-5.4548232923640789

In [ ]:
# The P-Value is < 0.00001.
# Null hypothesis rejected
# 98.6 not average temp

In [30]:
interval=1.96*se

In [31]:
interval

0.12603665700226638

In [32]:
avrg+interval

98.375267426233037

In [33]:
avrg-interval

98.123194112228518

In [ ]:
# 95% Confidence interval is between 98.375 and 98.123  : Temperatures outside this range are abnormal

In [34]:
df1.groupby(['gender']).mean()

        temperature  heart_rate        temp
gender
F         98.393846   74.153846  196.787692
M         98.104615   73.369231  196.209231

In [36]:
df1.groupby('gender').std()

        temperature  heart_rate      temp
gender
F          0.743488    8.105227  1.486976
M          0.698756    5.875184  1.397512

In [38]:
se2=np.sqrt((.743488**2/65)+(.698756**2/65))

In [39]:
meandifference=98.393846-98.104615

In [41]:
ztwo=meandifference/se2

In [42]:
ztwo

2.2854355934598352

In [ ]:
# p= 0.022289